<div class="sb-nav-fixed">
    <app-top-bar></app-top-bar>
  
    <div id="layoutSidenav">
      <app-side-bar></app-side-bar>
  
      <!-- CONTENT-->
  
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h2 style="color: black">category managment</h2>
  
            <form [formGroup]="updateCategoryForm" (ngSubmit)="update()">

                <div class="form-group" >
                  <div>  <img
                    [src]="imageUrl"
                    class="image-fluid category-image"
                    alt="" style="width: 150px;" 
                  /></div>
                    <label for="exampleFormControlFile1" class="m-2">category name</label>
                    <input type="text" class="form-control"  class="m-2" formControlName="name" id="categoryName">
                  <label for="exampleFormControlFile1"     class="m-2">Example file input</label>
                  <input type="file" class="form-control-file" (change)="save($event)" class="m-2" id="exampleFormControlFile1">                  <button class="btn btn-primary" type="submit">update</button>
                </div>
              </form>
          </div>
        </main>
      </div>
    </div>
    <app-footer-dashboard></app-footer-dashboard>
  </div>


