<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->

<div *ngIf="categoriesList.length == 0" class="container-xxl py-5 category">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Nos Catégories
      </h6>
      <h1 class="mb-5">
        il n'y a pas de catégories pour le moment, vérifiez-nous plus tard
      </h1>
    </div>
  </div>
</div>

<!-- Categories Start -->
<div *ngIf="categoriesList.length > 0" class="container-xxl py-5 category">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Nos Catégories
      </h6>
      <h1 class="mb-5">Tous les catégories</h1>
    </div>

    <div class="d-flex justify-content-center">
      <div class="m-1">
        <button
          (click)="filter('all'); onclick($event)"
          class="btn btn-sm btn-outline-primary categoryButton"
        >
          Tous
        </button>
      </div>
      <div
        class="m-1"
        *ngFor="let category of categoriesList"
        (click)="filter(category.name); onclick($event)"
      >
        <button class="btn btn-sm btn-outline-primary categoryButton">
          {{ category.name }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Categories Start -->

<div *ngIf="trainingsList.length == 0" class="container-xxl py-5 category">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Nos Formations
      </h6>
      <h1 class="mb-5">
        il n'y a pas de formation en ce moment, vérifiez-nous plus tard
      </h1>
    </div>
  </div>
</div>

<!-- Courses Start -->
<div *ngIf="trainingsList.length > 0" class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Nos Formations
      </h6>
      <h1 class="mb-5">Formation Populaire</h1>
    </div>
    <div class="row g-4 justify-content-center">
      <div
        class="col-lg-4 col-md-6"
        *ngFor="let training of trainingsList"
        data-wow-delay="0.1s"
      >
      <app-course-card
      [image]="training.image"
      [_id]="training._id"
      [price]="training.price"
      [objectif]="training.objectif"
      [name]="training.name"
      [hours]="training.hours"
      [seat]="training.seat"
      [catname]="training.category.name"
    >
    </app-course-card>
      </div>
    </div>
  </div>
</div>
<!-- Courses End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
