.category-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-text small {
  color: #2bc5d4;
}
.card-shadow {
  border: none;
}

.backg {
  background-color: #f0fbfc;
}
.trainer-card {
  object-fit: cover;
}

.category-img :hover {
  transition: 0.5s;
}

.description {
  height: 200px;
}
.backg {
  font-size: 16px;
}

.image-training {
  width: 100%;
  height: 100%;
}

.categoryButton{
  max-width: 300px;
}


.box-cat:hover{
    border: 3px solid #2C4690; 
    color: #2C4690 ;
    cursor: pointer;  
}

.active{
  border: 3px solid #2C4690; 
    color: #2C4690 ;
    cursor: pointer;  
}
