<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->

<div *ngIf="categoriesList.length == 0" class="container-xxl py-5 category">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Nos Catégories
      </h6>
      <h1 class="mb-5">
        il n'y a pas de catégories pour le moment, vérifiez-nous plus tard
      </h1>
    </div>
  </div>
</div>

<!-- Categories Start -->
<div *ngIf="categoriesList.length > 0" class="container-xxl py-5 category">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Nos Catégories
      </h6>
      <h1 class="mb-5">Tous les catégories</h1>
    </div>

    <div class="row g-3 align-items-center justify-content-center d-flex">
      <div (click)="filter('all'); onclick($event);" class="box-cat">
        <p class="category-name" >Tous</p>
      </div>
      <div *ngFor="let category of categoriesList" (click)="filter(category.name);  onclick($event);" class="box-cat">
        <p class="category-name" >{{ category.name }}</p>
      </div>
    </div>
  </div>
</div>
<!-- Categories Start -->

<div *ngIf="trainingsList.length == 0" class="container-xxl py-5 category">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Nos Formations
      </h6>
      <h1 class="mb-5">
        il n'y a pas de formation en ce moment, vérifiez-nous plus tard
      </h1>
    </div>
  </div>
</div>

<!-- Courses Start -->
<div *ngIf="trainingsList.length > 0" class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Nos Formations
      </h6>
      <h1 class="mb-5">Formation Populaire</h1>
    </div>
    <div class="row g-4 justify-content-center">
      <div
        class="col-lg-4 col-md-6 "
        *ngFor="let training of trainingsList"
        data-wow-delay="0.1s"
      >
        <div class="course-item bg-light">
          <div
            class="position-relative trainer-card overflow-hidden"
            style="height: 250px"
          >
            <img
              class="img-fluid image-training"
              src="{{ baseUrl }}{{ training.image }}"
              alt=""
            />
            <div
              class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"
            >
              <a
                href="#"
                class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                style="border-radius: 30px 0 0 30px"
                >Read More</a
              >
              <a
                href="#"
                class="flex-shrink-0 btn btn-sm btn-primary px-3"
                style="border-radius: 0 30px 30px 0"
                >Join Now</a
              >
            </div>
          </div>
          <div class="text-center p-4 pb-0 description">
            <h3 class="mb-0">{{ training.price }} DT</h3>
            <h5 class="mb-4">{{ training.name }}</h5>
            <p class="m-2 objectif">{{ training.objectif }}</p>
          </div>
          <div class="d-flex border-top">
            <small class="flex-fill text-center border-end py-2"
              ><i class="fa fa-user-tie text-primary me-2"></i
              >{{ training.category.name }}</small
            >
            <small class="flex-fill text-center border-end py-2"
              ><i class="fa fa-clock text-primary me-2"></i
              >{{ training.hours }} H</small
            >
            <small class="flex-fill text-center py-2"
              ><i class="fa fa-user text-primary me-2"></i
              >{{ training.seat }} places</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Courses End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
