<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->

  <div class="container ">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">blog</h6>
      <h1 class="mb-5">Tous les articles</h1>
      <div class="row g-3 align-items-between justify-content-center d-flex">
        <div
          *ngFor="let article of articleList"
          class="col-lg-4 mr-2 col-md-6 mr-5 wow fadeInUp"
        >
          <div class="card card-shadow" >
            <img
              src="{{ baseUrl }}{{ article.image }}"
              class="card-img-top article-img"
              alt="Accroche HTML"
            />
            <div class="createdAt">
              <p class="pt-3">{{ article.createdAt.substring(0, 10) }}</p>
            </div>
            <div class="card-body backg description">
              <h2 class="card-title my-2">{{ article.titre }}</h2>
              <p class="card-text">{{ article.content.substring(0, 70) }}...</p>
              
                <a routerLink="/blog/{{ article._id }}" class="btn btn-primary"
                  >Voir plus</a
                >
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
