<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->

<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container" *ngIf="trainersList.length == 0">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        trainers
      </h6>
      <h1 class="mb-5">there is no trainers for now</h1>
    </div>
  </div>
  <div class="container" *ngIf="trainersList.length > 0">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Instructors
      </h6>
      <h1 class="mb-5">Expert Instructors</h1>
    </div>
    <div class="row g-4 justify-content-center">
      <div
        *ngFor="let trainer of trainersList"
        class="col-lg-3 col-md-6 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <app-trainer-item
          [firstname]="trainer.firstname"
          [lastname]="trainer.lastname"
          [speciality]="trainer.speciality"
          [image]="trainer.image"
          [facebook]="trainer.facebook"
          [instagram]="trainer.instagram"
          [twitter]="trainer.twitter"
        >
        </app-trainer-item>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
