<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Register</h6>
            <h1 class="mb-5">Join our community</h1>
        </div>
        <div class="row g-4">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="col col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="firstname" placeholder="Your Firstname" formControlName="firstname">
                                <label for="name">Your Firstname</label>
                                <div *ngIf="firstname?.invalid && firstname?.touched">
                                    <small *ngIf="firstname?.errors?.['required']" class="text-danger">Firstname required<br></small>
                                    <small *ngIf="firstname?.errors?.['firstname']" class="text-danger"> invalid Firstname<br></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="lastname" placeholder="Your Lastname" formControlName="lastname">
                                <label for="name">Your Lastname</label>
                                <div *ngIf="lastname?.invalid && lastname?.touched">
                                    <small *ngIf="lastname?.errors?.['required']" class="text-danger">lastname required<br></small>
                                    <small *ngIf="lastname?.errors?.['lastname']" class="text-danger"> invalid lastname<br></small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <p for="file">Import Your Image : <input type="file" class="form-control-file" id="file" formControlName="file"> </p>
                                <div *ngIf="firstname?.invalid && file?.touched">
                                    <small *ngIf="file?.errors?.['required']" class="text-danger">image required<br></small>
                                    <small *ngIf="file?.errors?.['file']" class="text-danger"> invalid Image<br></small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email" formControlName="email">
                                <label for="email">Your Email</label>
                                <div *ngIf="firstname?.invalid && email?.touched">
                                    <small *ngIf="email?.errors?.['required']" class="text-danger">email required<br></small>
                                    <small *ngIf="email?.errors?.['email']" class="text-danger"> invalid email<br></small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password" placeholder="**********" formControlName="password">
                                <label for="name">Your Password</label>
                                <div *ngIf="password?.invalid && password?.touched">
                                    <small *ngIf="password?.errors?.['required']" class="text-danger">password required<br></small>
                                    <small *ngIf="password?.errors?.['password']" class="text-danger"> invalid password<br></small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="repassword" placeholder="**********" formControlName="repassword">
                                <label for="name">Repeat Your Password</label>
                                <div *ngIf="repassword?.invalid && repassword?.touched">
                                    <small *ngIf="repassword?.errors?.['required']" class="text-danger">repassword required<br></small>
                                    <small *ngIf="repassword?.errors?.['repassword']" class="text-danger"> invalid repassword<br></small>
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Register Now !</button>
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>


<!-- Contact End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->