<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">S'inscrire</h6>
            <h1 class="mb-5">Rejoignez notre communauté</h1>
        </div>
        <div class="row g-4">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="col col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="firstname" placeholder="prénom"
                                    formControlName="firstname">
                                <label for="name">Ton prénom</label>
                                <div *ngIf="firstname?.invalid && firstname?.touched">
                                    <small *ngIf="firstname?.errors?.['required']" class="text-danger">Prénom obligatoire<br></small>
                                    <small *ngIf="firstname?.errors?.['pattern']" class="text-danger"> Prénom
                                        est invalid<br></small>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="lastname" placeholder="Your Lastname"
                                    formControlName="lastname">
                                <label for="name">Nom de famille</label>
                                <div *ngIf="lastname?.invalid && lastname?.touched">
                                    <small *ngIf="lastname?.errors?.['required']" class="text-danger">nom de famille requis<br></small>
                                    <small *ngIf="lastname?.errors?.['pattern']" class="text-danger"> nom de famille invalide<br></small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <p for="file">Importez votre image : <input type="file" class="form-control-file" id="file"
                                        formControlName="file" (change)="save($event)"> </p>
                                <div *ngIf="file?.invalid && file?.touched">
                                    <small *ngIf="file?.errors?.['required']" class="text-danger">image
                                        required<br></small>

                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Votre e-mail"
                                    formControlName="email">
                                <label for="email">Email</label>
                                <div *ngIf="firstname?.invalid && email?.touched">
                                    <small *ngIf="email?.errors?.['required']" class="text-danger">email
                                        requis<br></small>
                                    <small *ngIf="email?.errors?.['email']" class="text-danger"> 
                                        email invalide<br></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="email" placeholder="Votre Telephone"
                                    formControlName="telephone">
                                <label for="telephone">telephone</label>
                                <div *ngIf="telephone?.invalid && email?.touched">
                                    <small *ngIf="telephone?.errors?.['required']" class="text-danger">telephone
                                        requis<br></small>
                            </div>
                        </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password" placeholder="**********"
                                    formControlName="password">
                                <label for="name">mot de passe</label>
                                <div *ngIf="password?.invalid && password?.touched">
                                    <small *ngIf="password?.errors?.['required']" class="text-danger">password
                                        requis<br></small>
                                    <small *ngIf="password?.errors?.['minlength']" class="text-danger">
                                        password invalide<br></small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="repassword" placeholder="**********"
                                    formControlName="repassword">
                                <label for="name">Répétez votre mot de passe</label>
                                <div *ngIf="repassword?.invalid && repassword?.touched">
                                    <small *ngIf="repassword?.errors?.['required']" class="text-danger">re-Mot de passe requis<br></small>
                                </div>
                                <div *ngIf="repassword?.valid && repassword?.value != password?.value"
                                    class="text-danger">
                                    Les mots de passe saisis ne correspondent pas
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" [disabled]="registerForm.invalid "
                                type="submit">S'inscrire maintenant !</button>
                        </div>

                        <div class="col-12">
                            <h6>J'ai déjà un compte !
                                <span [routerLink]="['/login']" class="text-primary goto-link">
                                    Se connecter
                                </span>
                            </h6>
                        </div>

                    </div>
                </div>
            </form>


        </div>
    </div>
</div>


<!-- Contact End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->