<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5 mb-4">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <div class="row g-2">
            <img src="assets/img/5.png" alt="" class="footer-img" />
            <p class="mt-3 text-align-start">
              TalentLab est un centre de formation des futuristes en qualité et
              innovation à travers l’application pratique en collaboration avec
              les sociétés et les parties prenants, enregistrée au Ministère
              sous le numéro 11-1880-20
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">Lien rapide</h4>
          <a class="btn btn-link" [routerLink]="['/about']">A propos</a>
          <a class="btn btn-link" [routerLink]="['/contact']">contactez-nous</a>
          <a class="btn btn-link">Politique de confidentialité</a>
          <a class="btn btn-link">Termes et conditions</a>
          <a class="btn btn-link">FAQ et aide</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">actualités</h4>
          <div class="d-flex flex-column">
            <div *ngFor="let recentArticle of articleList" class="actualities">
              <img routerLink="blog/{{ recentArticle._id }}" src="{{baseUrl}}{{ recentArticle.image }}" alt="" />
              <h4>
                <a routerLink="blog/{{ recentArticle._id }}">{{
                  recentArticle.titre
                  }}</a>
              </h4>
              <time datetime="2020-01-01">{{
                recentArticle.createdAt.substring(0, 10)
                }}</time>
            </div>
            <button routerLink="blog" class="view-more">voir plus</button>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">Contact</h4>
          <p class="mb-2">
            <i class="fa fa-map-marker-alt me-3"></i>Maram Palace, Menzah 4,
            Avenue 10 Décembre 1948, (En face Immeuble Saadi), 2ème étage,
            Bureau 2-3 1004 Tunis-Ville, Tunisia 1004 Tunis, Tunisia
          </p>
          <p class="mb-2">
            <i class="fa fa-phone-alt me-3"></i>+216 20 479 667
          </p>
          <p class="mb-2">
            <i class="fa fa-envelope me-3"></i>support@talentlab.tn
          </p>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/Talentlab2021" target="_blank"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social"
              href="https://www.youtube.com/channel/UCg68yOB8VEiYyPkTFSZuBZQ/videos" target="_blank"><i
                class="fab fa-youtube"></i></a>
            <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/company/talentlab-tn/"
              target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container ">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a><b>TalentLab</b></a>, tous les droits sont réservés.
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            développé par <a><b>FormaLab</b></a><br /><br />
          </div>
          <div class="col-md-6 text-center text-md-end">
            <div class="footer-menu">
              <a [routerLink]="['/']">Accueil</a>
              <a>Cookies</a>
              <a>Aide</a>
              <a>FQAs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Back to Top -->
  <a (click)="scrollToTop()" class="btn btn-lg btn-primary btn-lg-square back-to-top">
    <i class="bi bi-arrow-up"></i>
  </a>
</div>
