<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->

<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Nous contacter
      </h6>
      <h1 class="mb-5">Contact pour toute question</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <h5>Get In Touch</h5>
        <p class="mb-4">
          TalentLab est un centre de formation des futuristes en qualité et
          innovation à travers l’application pratique en collaboration avec les
          sociétés et les parties prenants, enregistrée au Ministère sous le
          numéro 11-1880-20
        </p>
        <div class="d-flex align-items-center mb-3">
          <div
            class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
            style="width: 50px; height: 50px"
          >
            <i class="fa fa-map-marker-alt text-white"></i>
          </div>
          <div class="ms-3  align">
            <h5 class="text-primary">Bureau</h5>
            <p class="mb-0 ">
              Maram Palace, Menzah 4, Avenue 10 Décembre 1948, (En face Immeuble
              Saadi), 2ème étage, Bureau 2-3 1004 Tunis-Ville, Tunisia 1004
              Tunis, Tunisia
            </p>
          </div>
        </div>
        <div class="d-flex align-items-center mb-3">
          <div
            class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
            style="width: 50px; height: 50px"
          >
            <i class="fa fa-phone-alt text-white"></i>
          </div>
          <div class="ms-3">
            <h5 class="text-primary">Mobile</h5>
            <p class="mb-0">+216 20 479 667</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div
            class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
            style="width: 50px; height: 50px"
          >
            <i class="fa fa-envelope-open text-white"></i>
          </div>
          <div class="ms-3">
            <h5 class="text-primary">Email</h5>
            <p class="mb-0">support@talentlab.tn</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <iframe
          class="position-relative rounded w-100 h-100"
          src="https://maps.google.com/maps?q=ariana,%20menzah%204,Avenue%2010%20D%C3%A9cembre%201948&t=&z=15&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          style="min-height: 300px; border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>
      <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
        <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  formControlName="name"
                />
                <label for="name">nom</label>
                <div *ngIf="name?.touched && name?.invalid">
                  <small *ngIf="name?.errors?.['required']" class="text-danger"
                    >nom est requis<br
                  /></small>
                  <small *ngIf="name?.errors?.['pattern']" class="text-danger"
                    >nom invalide<br
                  /></small>
                  <small *ngIf="name?.errors?.['minlength']" class="text-danger"
                    >name must contain two characters at least</small
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  placeholder="Your Email"
                />
                <label for="email">email</label>
                <div *ngIf="email?.touched && email?.invalid">
                  <small *ngIf="email?.errors?.['required']" class="text-danger"
                    >Email is required<br
                  /></small>
                  <small *ngIf="email?.errors?.['email']" class="text-danger"
                    >Invalid Email<br
                  /></small>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="Subject"
                  formControlName="subject"
                />
                <label for="subject">Sujet</label>
                <div *ngIf="subject?.touched && subject?.invalid">
                  <small
                    *ngIf="subject?.errors?.['required']"
                    class="text-danger"
                    >subject is required<br
                  /></small>
                  <small
                    *ngIf="subject?.errors?.['pattern']"
                    class="text-danger"
                    >Invalid subject<br
                  /></small>
                  <small
                    *ngIf="subject?.errors?.['minlength']"
                    class="text-danger"
                    >subject must contain two characters at least</small
                  >
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a message here"
                  id="content"
                  formControlName="content"
                  style="height: 150px"
                ></textarea>
                <label for="message">Message</label>
                <div *ngIf="content?.touched && content?.invalid">
                  <small
                    *ngIf="content?.errors?.['required']"
                    class="text-danger"
                    >Message is required<br
                  /></small>
                  <small
                    *ngIf="content?.errors?.['pattern']"
                    class="text-danger"
                    >Invalid Message<br
                  /></small>
                  <small
                    *ngIf="content?.errors?.['minlength']"
                    class="text-danger"
                    >Message must contain ten characters at least</small
                  >
                </div>
              </div>
            </div>
            <div class="col-12">
              <button
                [disabled]="contactForm?.invalid"
                class="btn btn-primary w-100 py-3"
                type="submit"
              >
                Envoyer Message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
