.logo {
  width: 150px;
}
.card {
  border-radius: 2%;
}
.bg {
  background-color: #2c4690;
}
.shadow {
  box-shadow: rgba(255, 255, 255, 255) 0px 2px 4px,
    rgba(0, 0, 0, 0.24) 0px 2px 3px !important;
}

.form-control {
  border-radius: 5px;
}

.icons {
  width: 50%;
  margin: 1px auto;
}

.btn-social {
  border: 1px solid;
  padding: 9px;
  border-radius: 5px;
  border-color: #eae7f5;
  background-color: transparent;
}

.fa-facebook {
  color: #a8a3b9;
  font-size: 0.875rem;
  text-align: center;
}
.fa-twitter {
  color: #a8a3b9;
  font-size: 0.875rem;
  text-align: center;
}

.fa-linkedin {
  color: #a8a3b9;
  font-size: 0.875rem;
  text-align: center;
}

.fa-github {
  color: #a8a3b9;
  font-size: 0.875rem;
  text-align: center;
}

.btn-social:hover {
  background-color: #2c4690;
  color: white;
}

button {
  width: 100%;
}
