<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a routerLink="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img src="assets/img/logolab.png" class="logo mx-3" alt="">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/" routerLinkActive="active" class="nav-item nav-link">Home</a>
            <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
            <a routerLink="/courses" routerLinkActive="active" class="nav-item nav-link">Courses</a>
            <a routerLink="/blog" routerLinkActive="active" class="nav-item nav-link">Blog</a>
            <a routerLink="/our-team" routerLinkActive="active" class="nav-item nav-link">Our Team</a>
            <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a>
        </div>
        <a routerLink="/register" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">
            Join Now
            <i class="fa fa-arrow-right ms-3"></i>
        </a>
    </div>
</nav>