h1{
    color: #06BBCC;
    font-size: 64px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.article-image{
    width: 80%;
    margin: auto;
}
.image{
    width: 100%;
}
.published{
    font-size: 18px;
    width: 80%;
    text-align: left !important;
    margin: auto;
}

.article-content{
 width: 80%;
 font-size: 24px;
 font-weight: 300;
 margin: auto;
 text-align: start;
 margin-top: 20px;
}
